
@{
    ViewBag.Title = "Transport";
}

<div class="w3-panel w3-container">
    <h2 class="w3-xxlarge">GROUND TRANSPORT</h2>
</div>


<ol class="breadcrumb" >
    <li><a href="#">Home</a></li>
    <li><a href="@Url.Action("Services","Service")">Services</a></li>
    <li class="active">Ground Transport</li>
</ol>

<div class="w3-container ">
    <div class="row w3-margin" style="margin-top:30px;">
        <div class=" w3-bar-block w3-text-gray w3-margin-right w3-light-grey w3-padding-64 col-lg-4 hidden-xs" style="width:25%">
            <a href="@Url.Action("Services","Service")" class="w3-bar-item w3-button w3-border-bottom w3-hover-blue">SERVICES</a>
            <a href="@Url.Action("Transport","Service")" class="w3-bar-item w3-button w3-border-bottom w3-hover-blue active">GROUND TRANSPORT</a>
            <a href="@Url.Action("Cargo","Service")" class="w3-bar-item w3-button w3-border-bottom w3-hover-blue ">CARGO</a>
            <a href="@Url.Action("Warehouse","Service")" class="w3-bar-item w3-button w3-border-bottom w3-hover-blue ">WAREHOUSING</a>
            <a href="@Url.Action("Logistic","Service")" class="w3-bar-item w3-button w3-border-bottom w3-hover-blue ">LOGISTIC SERVICE</a>
            <a href="@Url.Action("Trucking","Service")" class="w3-bar-item w3-button w3-border-bottom w3-hover-blue ">TRUCKING SERVICE</a>
            <a href="@Url.Action("Storage","Service")" class="w3-bar-item w3-button w3-border-bottom w3-hover-blue ">STORAGE</a>
        </div>
        <div class="w3-margin-right col-lg-4">
            <p>
                Ground transport and freight forwarding services, along with other ancillary services, helps us to provide tailor made logistic solutions to our clients, which we design as per their requirements and business ecosystem to help cut their cost, delivery time, while focusing on end user satisfaction. It is a mutually benefitting logistic service we aim to provide to our clients, which is what has helped us become one of the most reliable logistic service providers in the nation.Our logistic and freight forwarding services, along with other ancillary services, helps us to provide tailor made logistic solutions to our clients, which we design as per their requirements and business ecosystem to help cut their cost, delivery time, while focusing on end user satisfaction. It is a mutually benefitting logistic service we aim to provide to our clients, which is what has helped us become one of the most reliable logistic service providers in the nation.
            </p>
            <p>
                We ensure that our fleet of trucks are always well maintained, and have the best and the most updated fleet of trucks in service to ensure that it is capable of delivering high value, and oversized deliverables, efficiently and effectively, without causing any kind of loss, which is generally the case seen with many outsourced trucking service providers.
            </p>
        </div>
        <div class="w3-margin-right col-lg-4">

            <div class="w3-margin-bottom">
                <img src="~/Content/Images/g2.jpg" style="width:100%; height:250px"/>
            </div>
            <div>
                <img src="~/Content/Images/g1.jpg" style="width:100%; height:250px"/>
            </div>
        </div>
    </div>
</div>

